$color__primary: #349bbd;
$color__primary--light: #6ccfe8;
$color__primary--medium: #235074;
$color__primary--dark: #173650;

$color__secondary--light: #dbd3d8;
$color__secondary--dark: #1d2124;

$color__ok: #080;
$color__warning: #910a0a;

$color__font: #333;

$color__grey--light: #eee;
$color__grey--mid: #555;
$color__grey--dark: #333;

$color__bronze: #6a431d;
$color__silver: #ccc;
$color__gold: #ffd700;
$color__gold--dark: #d5b91f;

$font: 'Mulish', sans-serif;

.line {
	height: 0.2rem;
	background-color: $color__primary--light;

	&__1 {
		width: 80%;
	}

	&__2 {
		width: 60%;
	}

	&__3 {
		width: 40%;
	}

	&__4 {
		width: 20%;
	}
	&__5 {
		width: 5%;
	}
	&__6 {
		width: 2%;
	}
}

.diamond {
	width: 1.5rem;
	height: 1.5rem;
	background-color: $color__primary--light;
	transform: rotate(45deg);
	margin-right: 1rem;

	&__prime {
		background-color: $color__primary;
	}
	&__secondary {
		background-color: $color__secondary--light;
	}
}
