$color__primary: #349bbd;
$color__primary--light: #6ccfe8;
$color__primary--medium: #235074;
$color__primary--dark: #173650;

$color__glass__clear: #6ccfe833;
$color__glass__milky: #6ccfe8aa;
$color__glass__white: #dbd3d8aa;

$color__secondary--light: #dbd3d8;
$color__secondary--dark: #1d2124;

$color__ok: #080;
$color__warning: #910a0a;

$color__font: #333;

$color__grey--light: #eee;
$color__grey--mid: #555;
$color__grey--dark: #333;

$color__bronze: #6a431d;
$color__silver: #ccc;
$color__gold: #ffd700;
$color__gold--dark: #d5b91f;

$font: 'Mulish', sans-serif;
