@import "../../../sass/config.scss";

.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    width: 45%;
    height: 100%;
    margin: 1rem;
}
