@import "../../sass/config.scss";

.answer {
    width: calc(50% - 1rem);
    background: $color__primary--dark;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: stretch;
    align-items: center;

    &__letter {
        color: #fff;
        font-size: 5rem;
        font-weight: 900;
    }

    &__text {
        margin-left: 4rem;
        font-weight: 900;
        color: $color__primary--light;
    }
}
