@import "../../sass/config.scss";

.question {
    margin-bottom: 1vh;
    width: 100%;
    padding: 6vh 3rem;
    border-radius: 1rem;
    background-color: $color__primary--dark;
    color: $color__secondary--light;
    text-align: center;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}
