@import "../../sass/config.scss";

.main {
    display: flex;
    flex-direction: column;
}

.author{
    position: relative;
    background: rgba(219, 211, 216, 0.16);
    box-shadow: 0px 2px 4px #6ccfe8;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    &:hover &__picture{
        border-radius: 0;
        transition: border-radius 1s, opacity 2s;
    }

    &__picture {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: -30%;
        left: -20%;
        transition: border-radius 1s, opacity 2s;
    }

    &__info {
        display: flex;
        flex-direction: column;

        & h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        & h4 {
            color: $color__primary;
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        &--git a,
        &--page a,
        &--email a {
            margin: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $color__primary;

            &:hover h3,
            &:hover .author__icons{
                color: $color__primary--light;
                transform: scale(1.05);
                transition: transform .3s, color .3s;
            }

            & h3 ,
            & .author__icons{
                color: #fff;
                transition: transform .3s, color .3s;
            }
        }
    }

    &__icons {
        margin-right: 1rem;
        font-size: 4rem;
        color: #fff;
    }
}
