@import "../../../sass/config.scss";

.dashboard__item {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding: 0 2rem;

    &--select {
        border: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    &--category,
    &--value {
        font-size: 1.8rem;
        padding: 1.5rem;
        border-radius: 1rem;
        text-align: center;
        text-transform: uppercase;
        color: $color__primary--dark;

        & input[type="radio"] {
            display: none;
        }
    }

    &--category {
        width: 30%;
        background: #6ccfe8;
        box-shadow: 4px 4px 4px $color__primary--dark;
        color: $color__primary--dark;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &--value {
        cursor: pointer;
        width: 20%;
        background: #dbd3d8;

        &:hover {
            background: #6ccfe8;
            box-shadow: 4px 4px 4px $color__primary--dark;
        }

        &:active {
            background: #6ccfe8;
            box-shadow: 4px 4px 4px $color__primary--dark;
        }
    }
}

.elementsContainer{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    *{
        margin: .5rem;
        border-radius: .5rem;
    }
}
