@import "../sass/config.scss";


.main{
  padding: 5%;

  h1{
    margin-bottom: 5vh;
  }

  .listContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    .highScore{
      background: $color__primary;
      border-radius: 1rem;
      padding: 2%;
      width: 30%;

    }
  }
}



.rank{
  margin: .5vh;
  padding: .5vh;
  display: flex;
  align-items: center;
  color: $color__primary;
  background: $color__primary--dark;
  border-radius: 1rem;

  *{
    margin: 0 2rem;
  }

  .image{
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
  }

  .flag{
    height: 1.5vh;
  }

  .name{
    width: 15%;
  }

  .value{
    margin-left: auto;
    width: 10%;
    text-align: right;
  }
}