@import "../../../../sass/config.scss";

.profile__user {
   background-color: rgba($color__primary, 0.5);
   padding: 3rem;
   margin-bottom: 2rem;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   border-radius: 1rem;

   &--piccontainer,
   &--namecontainer {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      position: relative;
   }

   &--pic {
      width: 16rem;
      height: 16rem;
      border-radius: 50%;
      box-shadow: 0.2rem 0.2rem 0.2rem $color__primary--dark;
      object-fit: cover;
      
      
      &__modal {
         position: absolute;
         top: 102%;
         left: -3%;
         width: 300%;
         padding: 3rem;
         background: rgba($color__primary--dark, 0.6);
         backdrop-filter: blur( 2.5px );
         border-radius: 1rem;
         z-index: 50;
         display: flex;
         flex-direction: column;

         h2 {
            width: 90%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1rem;
            color: rgba($color__primary--light, 0.9);
            text-shadow: 0 0 10px rgba(3, 3, 3, 0.5), 0 0 15px rgba(3, 3, 3, 0.5);
            font-size: 3.2rem;
            font-weight: bolder;
         }  
         
         input[type=file] {
            display: none;
         } 

         &--customButton {
            cursor: pointer;
            border: 0;
            width: 60%;
            padding: 1rem;
            margin: 2rem auto;
            border-radius: 1rem;
            text-align: center;
            color: $color__secondary--dark;
            font-size: 2rem;
            font-family: $font;
            text-transform: uppercase;
            font-weight: 700;
            background: $color__secondary--light;
            box-shadow: 0.5rem 0.5rem 0.2rem rgba($color__primary--dark, 0.5);
            transition: all 0.2 ease-in-out;

            &:hover {
               transform: scale(0.98);
            }
         }

         &__button--container {
            width: 80%;
            margin: 2rem auto;
            display: flex;
            justify-content: space-evenly;
         }    
      }

      &__img {
         display: block;
         width: 16rem;
         height: 16rem;
         border-radius: 50%;
         margin: 1.5rem auto 0;
         box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.507);
      }

      &__flag {
         position: absolute;
         top: 70%;
         left: -3%;
         width: 33%;
         height: 33%;
         z-index: 15;

         .flagSelection {
            position: absolute;
            top: 100%;
            width: 800%;
            height: 800%;
            padding: 1rem;
            border-radius: 10px;
            overflow-y: scroll;
            background: rgba($color__primary--dark, 0.6);
            backdrop-filter: blur( 2.5px );

            label {
               background: none;
               padding: 0.5rem;
               input {
                  appearance: none;
                  width: 10%;
                  height: 10%;
                  cursor: pointer;
               }
            }
         }
      }
   }

   &--year,
   &--recentachiev,
   &--currentrank {
      text-align: center;
      color: #fff;
      font-size: 2rem;
      background-color: rgba($color__grey--dark, 0.4);
      padding: 1.5rem;
      margin-top: 1rem;
      border-radius: 1rem;
      box-shadow: 0.2rem 0.2rem 0.2rem $color__primary--dark;
   }

   &--namecontainer {
      width: 60%;
      align-items: stretch;
   }

   &--name,
   &--email {
      width: 100%;
      background-color: rgba($color__secondary--light, 0.8);
      color: $color__primary--dark;
      font-size: 2.2rem;
      margin: 1rem 0;
      border-radius: 1rem;
      box-shadow: 0.2rem 0.2rem 0.2rem $color__primary--dark;
      
      & input {
         padding: 1rem;
         width: 100%;
         height: 100%;
         padding: 1rem;
         border-radius: 1rem;
         border: none;
         background-color: transparent;
         font-size: 2rem;
         font-weight: 900;
         color: $color__primary--medium;

         &:focus {
            outline: none;
         }
      }
   }

   &--iconcontainer {
      width: 5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
   }

   &--editIcon {
      color: $color__secondary--light;
      font-size: 2.5rem;
      cursor: pointer;
   }

   &--trashIcon {
      color: red;
      font-size: 2.5rem;
      cursor: pointer;
   }
}
