@import "../../sass/config.scss";


.main{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-bottom: 3%;
  }

  .card{
    background: $color__primary;
    border-radius: 1rem;
    padding: 2% 0;
    width: 60%;

    form{
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .ratingContainer{
        width: 100%;
        display: flex;
        justify-content: center;
  
        label{
          cursor: pointer;
          padding: 1rem 2rem;
          margin: 2rem;
          border-radius: 1rem;
          background: $color__primary--dark;
          color: $color__primary--light;
          font-weight: 900;
          transition: transform .5s, background .5s, color .5s;

          &:hover{
            transform: scale(0.95);
            background: $color__primary--light;
            color: $color__primary--dark;
          }

          input[type='radio']{
            appearance: none;
            display: none;
            width: 10%;
            height: 10%;
            &:checked .label{
              background: #000;
            }
          }
        }
      }
  
      textarea{
        background: $color__secondary--light;
        color: $color__secondary--dark;
        resize: none;
        width: 100%;
        height: 15vh;
        outline: none;
        border: none;
        border-radius: 1rem;
        margin: 2rem;
        padding: 2rem;
        font-size: 2rem;
        scrollbar-width: 0; 
      }
  
      input[type='submit']{
        width: 30%;
        height: 5rem;
      }
    }
  }
}
