@import "../../sass/config.scss";


.main{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-bottom: 3%;
  }

  .card{
    background: $color__primary;
    border-radius: 1rem;
    padding: 2% 0;
    width: 60%;

    form{
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .ratingContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
  
        label{
          // border: 2px solid lime;
          cursor: pointer;
          // padding: 1rem 2rem;
          // margin: 2rem;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          color: $color__primary--light;
          font-weight: 900;
          transition: transform .5s, color .3s;
          display: flex;
          justify-content: center;
          align-items: center;
          
          &:hover{
            // transform: scale(0.95), rotate(-45deg);
            color: $color__gold;
          }
          
          p {
            transform: rotate(-45deg);
          }

          input[type='radio']{
            background: rgb(255, 238, 0);
            appearance: none;
            display: none;
            width: 10rem;
            height: 10rem;
            &:checked {
              
              border: 2px solid rgb(4, 0, 255);
              background: rgb(255, 0, 0);
            }
          }
        }
      }

      textarea{
        background: $color__secondary--light;
        color: $color__secondary--dark;
        resize: none;
        width: 100%;
        height: 15vh;
        outline: none;
        border: none;
        border-radius: 1rem;
        margin: 2rem;
        padding: 2rem;
        font-size: 2rem;
        scrollbar-width: 0; 
      }
  
      input[type='submit']{
        width: 30%;
        height: 5rem;
      }
    }
  }
}
