@import "../../sass/config.scss";

.card {
    width: 60%;
    padding: 5rem;
    background-color: $color__primary;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

    display: flex;
    flex-direction: column;
}

// .dataCard {
//     background-color: $color__secondary--light;
//     border-radius: 1rem;
//     padding: 0.5rem;
//     box-shadow: 0.5rem 0.5rem 0.2rem rgba($color__primary, 0.5);
//     margin-bottom: 1.2rem;
//     background: #000;
// }