@import "../../sass/config.scss";

.fadeOut {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
}
