@import '../../sass/config.scss';

.listItem {
	margin: 1rem 0;
	display: flex;
	align-items: center;

	.back {
		text-shadow: 0.2rem 0.2rem 2rem $color__gold, -0.2rem -0.2rem 2rem $color__gold;
		font-weight: 900;
	}

	&__line {
		height: 0.2rem;
		background-color: $color__primary--light;

		&__1 {width: 80%}
		&__2 {width: 60%}
		&__3 {width: 40%}
		&__4 {width: 20%}
		&__5 {width: 5%}
		&__6 {width: 2%}
	}

	&__diamond {
		width: 1.5rem;
		height: 1.5rem;
		background-color: $color__primary--light;
		transform: rotate(45deg);
		margin-right: 1rem;
	}

	&__link {
		&:hover {
			text-shadow: 1px 1px 2rem #fff;
		}
	}
}
