@import "../../sass/config.scss";


.main{
  padding: 2%;

  h1{
    margin-bottom: 5%;
  }

  .listContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    .scoreCard{
      background: $color__primary;
      border-radius: 1rem;
      margin: 0 1%;
      padding: 1%;
      width: 30%;

      h2{
        color: $color__primary--dark;
        padding: 1rem;
      }
    }
  }
}
