@import "../../sass/config.scss";

.rankCard{
  width: 30%;

  h2{
    margin-bottom: 4rem;
    color: $color__secondary--light;
    font-weight: 900;
  }

  .list{
    background: $color__primary;
    padding: 5%;
    border-radius: 1rem;
    background: $color__glass__milky;
    box-shadow: 0 0 2rem $color__primary--light;

    .rank{
      margin: .5rem;
      padding: 1rem 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color__primary--light;
      font-weight: 900;
      background: $color__primary--dark;
      border-radius: 1rem;

      .image{
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        object-fit: cover;
      }

      .flag{
        height: 1.5vh;
      }

      .name{
        width: 35%;
      }

      .value{
        width: 20%;
        text-align: right;
      }

    }
    
    .rank:nth-child(even) {
      background: $color__primary--medium;
    }
  }
}
