@import "../../sass/config.scss";


.main{
  padding: 2%;

  h1{
    margin-bottom: 5%;
  }

  .listContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
}
