
@import "../../../../sass/config.scss";

.list{
  
  .rank:nth-child(odd){
    background: $color__primary--medium;
    color: $color__primary--light;
  }
  
  .rank{
    margin: 0.8rem 0.5rem;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color__primary--dark;
    font-weight: 900;
    background: $color__glass__milky;
;
    border-radius: .7rem;
    box-shadow: .2rem .2rem .5rem $color__primary--medium;
    
    .image{
      width: 3vh;
      height: 3vh;
      border-radius: 50%;
      object-fit: cover;
    }
    .flag{
      height: 2vh;
    }
    .name{
      width: 35%;
    }
    .value{
      width: 20%;
      text-align: right;
    }
  }
}


