@import "../../../../sass/config.scss";


.dataCard {
    background-color: $color__glass__milky;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    box-shadow: .2rem .2rem .5rem $color__primary--dark;
}


.stats {
    color: $color__primary--dark;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &__title {
        font-size: clamp(1.5rem, 1vw, 4rem);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: $color__primary--dark;
    }

    &__data {
        width: 25%;
        background-color: $color__primary--dark;
        padding: .5rem 1rem;
        font-size: clamp(1.5rem, .9vw, 4rem);
        border-radius: 1rem;
        font-weight: 700;
        color: $color__primary--light;
    }

    &__together {
        display: flex;
        justify-content: space-between;
        height: 20%;
        margin: 0.5rem 0;

        .dataCard {
            height: 100%;
            margin: 0;
        }

        &--item {
            width: 49.5%;
        }
    }
}

