@import "../../../../sass/config.scss";

.profile__stats {
    text-align: center;
    height: 65%;

    &--titles {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }

    &--paragraph {
        cursor: pointer;
        width: 33%;
        padding: 1rem;
        font-size: 2rem;
        letter-spacing: 2px;
        color: $color__secondary--dark;
        background-color: $color__glass__milky;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        &:hover {
            background-color: #6ccfe8dd;
            color: $color__primary--dark;
            font-weight: 700;
        }
    }

    &--data {
        height: 100%;
        padding: 2rem 1rem;
        background-color: $color__glass__clear;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        overflow-y: auto;
    }
}

.active {
    cursor: pointer;
    width: 33%;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: $color__gold--dark;
    background-color: $color__glass__clear;
    font-weight: 700;
}
